{% assign title = section.settings.title %}
{% assign title1 = section.settings.title1 %}
{% assign title2 = section.settings.title2 %}

{% assign Description = section.settings.Description %}
{% assign Description1 = section.settings.Description1 %}
{% assign Description2 = section.settings.Description2 %}

{% assign Address_Heading = section.settings.Address_Heading %}
{% assign Address_Heading1 = section.settings.Address_Heading1 %}
{% assign Address_Heading2 = section.settings.Address_Heading2 %}

{% assign Address_Des = section.settings.Address_Des %}
{% assign Address_Des1 = section.settings.Address_Des1 %}
{% assign Address_Des2 = section.settings.Address_Des2 %}


{% assign Hours_Heading = section.settings.Hours_Heading %}
{% assign Hours_Heading1 = section.settings.Hours_Heading1 %}
{% assign Hours_Heading2 = section.settings.Hours_Heading2 %}
 
{% assign Hours_Des_one = section.settings.Hours_Des_one %}
{% assign Hours_Des_two = section.settings.Hours_Des_two %}
{% assign Hours_Des_three = section.settings.Hours_Des_three %}
<div class="ct-inner-section mp-inner-sec {{ section.settings.section-class }}">
   <div class="page-width">
      <div class="container-block">
         <div class="row-block-wrapper">
            <div class="col-left">
               <iframe data-src="https://maps.google.com/maps?q=87%20Kororoit%20Creek%20Road%2C%20Williamstown%2C%203016&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" aria-label="87 Kororoit Creek Road, Williamstown, 3016" title="87 Kororoit Creek Road, Williamstown, 3016" src="https://maps.google.com/maps?q=87%20Kororoit%20Creek%20Road%2C%20Williamstown%2C%203016&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-done="Loaded" data-gtm-yt-inspected-7="true"></iframe>
            </div>
            <div class="col-center">
               <span class="spline-divider"></span>
            </div>
            <div class="col-right">
               <div class="content-block-item">
                  <h4 class="shopify_desc_title">{{title}}</h4>
                  <p class="shopify_desc_txt"> {{Description}}</p>
               </div>
                <div class="step-block-area">
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/map.svg?v=1662443557" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Address_Heading}}</h6>
                     </div>
                     <p class="stp-desc">{{Address_Des}}</p>
                  </div>
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/time.svg?v=1662444147" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Hours_Heading}}</h6>
                     </div>
                     <p class="stp-desc">{{Hours_Des_one}}
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-block-wrapper">
            <div class="col-left">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.3462529330554!2d145.0134063155872!3d-37.92234067973281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad669d11cc38ba7%3A0x16e2a7c71a5638a4!2sBrighton%20Men&#39;s%20Shed!5e0!3m2!1sen!2sin!4v1669801523780!5m2!1sen!2sin" wsrc="https://maps.google.com/maps?q=87%20Kororoit%20Creek%20Road%2C%20Williamstown%2C%203016&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-done="Loaded" data-gtm-yt-inspected-7="true"></iframe>
               </div>
            <div class="col-center">
               <span class="spline-divider"></span>
            </div>
            <div class="col-right">
               <div class="content-block-item">
                  <h4 class="shopify_desc_title">{{title1}}</h4>
                  <p class="shopify_desc_txt"> {{Description1}} </p>
               </div>
               <div class="step-block-area">
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/map.svg?v=1662443557" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Address_Heading1}}</h6>
                     </div>
                     <p class="stp-desc">{{Address_Des1}}</p>
                  </div>
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/time.svg?v=1662444147" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Hours_Heading1}}</h6>
                     </div>
                     <p class="stp-desc">{{Hours_Des_two}}
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-block-wrapper">
            <div class="col-left">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.803693447308!2d144.99368917588225!3d-37.74774937199214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad644f2e86f0691%3A0x8f3594833f256d10!2s31%20St%20Georges%20Rd%2C%20Preston%20VIC%203072!5e0!3m2!1sen!2sau!4v1695788965617!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-center">
               <span class="spline-divider"></span>
            </div>
            <div class="col-right">
               <div class="content-block-item">
                  <h4 class="shopify_desc_title">{{title2}}</h4>
                  <p class="shopify_desc_txt"> {{Description2}}</p>
               </div>
               <div class="step-block-area">
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/map.svg?v=1662443557" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Address_Heading2}}</h6>
                     </div>
                     <p class="stp-desc">{{Address_Des2}}</p>
                  </div>
                  <div class="stp-item">
                     <div class="stp-media">
                        <div class="stp-img-outer">
                           <img src="https://cdn.shopify.com/s/files/1/0657/2415/4107/files/time.svg?v=1662444147" alt="icon-img" class="stp-img">
                        </div>
                        <h6 class="stp-title">{{Hours_Heading2}}</h6>
                     </div>
                     <p class="stp-desc">{{Hours_Des_three}}
                     </p>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "Map With Text",
    "settings": [
	
			{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Williamstown Retail Site"
			},
			{
			"type": "textarea",
			"id": "Description",
			"label": "Description",
			"default": "We have a huge range on offer for you to browse and select that perfect tree this year. No need to purchase online, just rock up with the family and our Elves will look after you!"
			},
			{
			"type": "text",
			"id": "Address_Heading",
			"label": "Address Heading",
			"default": "Address"
			},
			{
			"type": "textarea",
			"id": "Address_Des",
			"label": "Address Description",
			"default": "Range Child Care Centre, 87 Kororoit Creek Road, Williamstown, 3016"
			},
			{
			"type": "text",
			"id": "Hours_Heading",
			"label": "Hours Heading",
			"default": "Hours"
			},
			{
			"type": "richtext",
			"id": "Hours_Des_one",
			"label": "Hours Description"
			},
			{
			"type": "text",
			"id": "title1",
			"label": "Heading",
			"default": "Williamstown Retail Site"
			},
			{
			"type": "textarea",
			"id": "Description1",
			"label": "Description",
			"default": "We have a huge range on offer for you to browse and select that perfect tree this year. No need to purchase online, just rock up with the family and our Elves will look after you!"
			},
			{
			"type": "text",
			"id": "Address_Heading1",
			"label": "Address Heading",
			"default": "Address"
			},
			{
			"type": "textarea",
			"id": "Address_Des1",
			"label": "Address Description",
			"default": "Range Child Care Centre, 87 Kororoit Creek Road, Williamstown, 3016"
			},
			{
			"type": "text",
			"id": "Hours_Heading1",
			"label": "Hours Heading",
			"default": "Hours"
			},
			{
			"type": "richtext",
			"id": "Hours_Des_two",
			"label": "Hours Description"
			},
			{
			"type": "text",
			"id": "title2",
			"label": "Heading",
			"default": "Williamstown Retail Site"
			},
			{
			"type": "textarea",
			"id": "Description2",
			"label": "Description",
			"default": "We have a huge range on offer for you to browse and select that perfect tree this year. No need to purchase online, just rock up with the family and our Elves will look after you!"
			},
			{
			"type": "text",
			"id": "Address_Heading2",
			"label": "Address Heading",
			"default": "Address"
			},
			{
			"type": "textarea",
			"id": "Address_Des2",
			"label": "Address Description",
			"default": "Range Child Care Centre, 87 Kororoit Creek Road, Williamstown, 3016"
			},
			{
			"type": "text",
			"id": "Hours_Heading2",
			"label": "Hours Heading",
			"default": "Hours"
			},
			{
			"type": "richtext",
			"id": "Hours_Des_three",
			"label": "Hours Description"
			}
	
	],
    "presets": [
      {
        "category": "Advanced",
        "name": "Map With Text",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} 